
<div class="middle-box text-center loginscreen animated fadeInDown mt-5">
    <div>
        <div class="m-b-md mt-5">
            <img alt="image" class="rounded-square" src="./assets/images/Building.png" style='width:135px;'>
        </div>
        <h3>{{title}}</h3>
        <form method="POST" action="" onsubmit='show()'>
            <div class="form-group">
                <input type="email" name='email'  class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" name='password' class="form-control" placeholder="******" required="">
            </div>
           
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
        </form>
    </div>
</div>
